@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Roboto-Bold-webfont.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/Roboto-ItalicBold-webfont.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/Roboto-Italic-webfont.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Roboto-Regular-webfont.woff');
}
